/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(img/newbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
  }
  
  /* Navbar Styling */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
  }
  
  /* Logo Section */
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .nav-logo img {
    height: 70px;
    margin-left: 50px;
  }
  
  
  /* Buttons */
  
  
  /* Icons */
  .nav-links {
    display: flex;
    gap: 1rem;
    margin-right: 80rem;
    position: relative;
  }
  
  .icon-btn {
    background-color: #682fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-top: 2px;
  }
  
  .logout-icon {
    background-color: #f65555;
    position: absolute;
    left: 300px;
    
  }
  
  .nav-links .icon-btn:hover {
    background-color: #682fff;
    transform: scale(1.1);
    box-shadow: 0px 4px 20px #a149d4;
  }
  
  
  
  .nav-links .logout-icon:hover {
    background-color: #f65555;
    transform: scale(1.1);
    box-shadow: 0px 4px 20px #a149d4;
    
  }
  
  
  
  .sidebar {
    margin: -10px;
    padding: 0;
    width: 15%;
    background-color: transparent;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  
  .sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: large;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 55px;
  }
  
  .image{
    width: 175px;
    height: 80px;
    left: auto;
    right: auto;
  }
  
  /* Links on mouse-over */
  .sidebar .a:hover {
    border-right: #a135ff 5px solid;
    color: #9632fe;
  }
  
  .container{
    position: absolute;
    left: 15%;
    top: 150px;
    width: 75%;
    height: 700px;
    border-radius: 50px;
    filter: drop-shadow(0px 17px 6px #ddb5f2);
  }
  
  .card-container{
    position: absolute;
    width: 90%;
    height: 500px;
    bottom: 50px;
    left: 5%;
  }
  
  .card {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #ffffff55;
    border-radius: 25px;
    border-color: #9632fe solid 5px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
  }
  
  
  .description {
  text-align: left;
  position: absolute;
  height:500px;
  background-color:#ffffff1b;
  bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  
  border-radius: 15px;
  }
  
  .description h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #4a4a9f;
  margin-top: 110px;
  }
  
  .description p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #000000;
  margin-top: -40px;
  margin-bottom: 55px;
  }
  
  .header {
    position: absolute;
    top: -150px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }
  
  .logo{
  width: 225px;
  height: 17  5px;
  border-radius: 49%;
  background: linear-gradient(90deg, #d8e5f7, #9ca5bf ,#dddddd);
  border: 15px solid white;
  z-index: 1;
  filter: drop-shadow( 0px 5px 5px #a149d44e);
  
  }
  
  .logo img {
  margin: 10px;
  margin-top: 15px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
    
  }
  
  .header-text{
  margin-left: -100px;
  margin-bottom:75px ;
  }
  
  .header-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    color: black;
  }
  
  .header-text h2 {
    font-size: 1.5rem;
    color: black;
    margin: 0;
  }
  
  /* Darkmode Button */
  label {
    width: 80px;  /* Increased width */
    height: 30px; /* Increased height */
    position: relative;
    display: block;
    background: linear-gradient(90deg, #ffbd59, #df8e14, #9d530f);
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
    margin-top: 6px;
    right: 20px;
  }
  
  label::after {
    content: "";
    width: 25px;  /* Adjusted for circle size */
    height: 25px; /* Adjusted for circle size */
    position: absolute;
    top: 2.5px;   /* Centered vertically */
    left: 2.5px;  /* Initial position */
    background: #fff;
    border-radius: 50%;  /* Made perfectly round */
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* ... existing input styling ... */
  
  input:checked + label{
    background: linear-gradient(90deg, #3b1b74, #a159ff);
  }
  
  input:checked + label::after {
    left: calc(100% - 2.5px);  /* Fixed position when checked */
    transform: translateX(-100%);
    background: #fff;
  }
  
  
  input:checked + label img{
    opacity: 0;
  }
  
  input:checked + label img.sun{
    opacity: 0;
  }
  
  input:checked + label img.moon{
    opacity: 1;
  }
  
  label:active::after {
    width: 35px;  /* Adjusted active state width */
  }
  
  /* Fixed icon positioning */
  label img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;  /* Centered vertically */
    left: 7px;
    transition: 0.3s;
    z-index: 2;
  }
  
  label img.sun {
    left: 7.5px;
    opacity: 1;
  }
  
  label img.moon {
    right: 7.5px;
    opacity: 0;
  }
  
  input{
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  
 
  
  
  /*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
   .container{
    position: absolute;
    left: 15%;
    top: 150px;
    width: 75%;
    height: 700px;
    border-radius: 50px;
  
  }
  .card-container{
    position: absolute;
    width: 60%;
    height: 500px;
    bottom: 50px;
    left: 5%;
  }
  
  .card {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border-color: #9632fe solid 5px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;
    background-color: #fdfdfddb;
  }
  
  .card h3 {
    font-size: 3rem;
    font-weight: bolder;
    color: #4a4a9f;
    margin-top: 10px;
    padding-bottom: 30px;
    text-align: right;
    margin-right: 10px;
  }
  
  
  .description {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  top: 30%;
 }
  
  .description p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #000000;
  margin-top: -40px;
  margin-bottom: 55px;
  }

  .edit-form {
    margin-top: 20px;
}

textarea {
    width: 90%;
    height: 200px;
    font-size: 24px;
    padding: 10px;
}

.card button{
    font-size: 50px;
    color: black;
    border: 5px solid black;
    cursor: pointer;
}




  
  /* aaaaaaaaaaaaaaaaaaaaaaa*/
  
  
  .header {
  position: absolute;
  top: -150px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  width: 1250px;
  }
  
  .logo{
  width: 225px;
  height: 17  5px;
  border-radius: 49%;
  background: linear-gradient(90deg, #d8e5f7, #9ca5bf ,#dddddd);
  border: 15px solid white;
  z-index: 1;
  filter: drop-shadow( 0px 5px 5px #a149d44e);
  }
  
  .logo img {
  margin: 10px;
  margin-top: 15px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;
  
  }
  
  .header-text{
  margin-left: -100px;
  margin-bottom:75px ;
  }
  
  .header-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: black;
  }
  
  .header-text h2 {
  font-size: 1.5rem;
  color: black;
  margin: 0;
  }
  
  /*aaaaaaaaaaaaaaaaaaaaaaaaaa*/
  
  .contactus{
  position: absolute;
  top: 160px;
  width: 40%;
  height: 530px;
  background-color: #fdfdfddb;
  left: 67%;
  border-radius: 25px;
  color: white;
  }
  
  .contactus h1{
  font-weight: bold;
  color: #462284;
  text-align: center;
  }
  
  .contactus p{
  font-weight: normal;
  color: #3b1b74;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: -10px;
  }
  
  .contactus h3{
  color: #682fff;
  font-weight: lighter;
  border: #682fff 2px solid;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
  padding-left: 15px;
  }